*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
}

.card {
    width: 336px;
    background: #ffffff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

.card-img {
    width: 100%;
    height: 152px;
    object-fit: cover;
    border-radius: 12px;
}

/* Espacios segun la guia */

.tag {
    display: inline-block;
    margin-top: 6px;
    background: #f5f5f5;
    color: #484848;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
/* TITLE - 16px de margen superior */

.title {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 700;
    color: #222222;
    line-height: 1.2;
}

/* DESCRIPTION - 16px de margen superior */

.descripcion {
    margin-top: 6px;
    font-size: 16px;
    line-height: 1.5;
    color: 666666;
    font-weight: 400;
}

/* SEPARATOR - 20px de margen arriba y abajo */
.separator {
    margin: 20px;
    border: none;
    border-top: 1px solid #F0F0F0;
}

/* AUTHOR */
.author {
    font-size: 14px;
    color: #888888;
    font-weight: 500;
    margin-bottom: 0;
}